Repository goorm-sudo/raillo-backend, pull requests merged in 2025-08, with the labels that each got.

#198 [REFACTOR] 열차 조회 로직 개선
  src/main/java/com/sudo/railo/train/application/TrainSearchApplicationService.java
  src/main/java/com/sudo/railo/train/application/TrainSearchService.java
  src/main/java/com/sudo/railo/train/application/dto/SectionSeatStatus.java
  src/main/java/com/sudo/railo/train/application/dto/projection/ReservationInfoProjection.java
  src/main/java/com/sudo/railo/train/application/dto/projection/TrainSeatInfoBatch.java
  src/main/java/com/sudo/railo/train/application/dto/projection/TrainSeatInfoProjection.java
  src/main/java/com/sudo/railo/train/application/dto/response/SeatTypeInfo.java
  src/main/java/com/sudo/railo/train/application/dto/response/StandingTypeInfo.java
  src/main/java/com/sudo/railo/train/domain/type/SeatAvailabilityStatus.java
  src/main/java/com/sudo/railo/train/infrastructure/TrainScheduleRepositoryCustom.java
  src/main/java/com/sudo/railo/train/infrastructure/TrainScheduleRepositoryCustomImpl.java
  src/main/java/com/sudo/railo/train/presentation/TrainSearchController.java
Labels: ♻️ refactor

#199 [TEST] 기차 테스트 Helper 클래스 추가
  build.gradle
  src/main/java/com/sudo/railo/booking/application/ReservationApplicationService.java
  src/main/java/com/sudo/railo/booking/application/ReservationService.java
  src/main/java/com/sudo/railo/booking/domain/type/PassengerSummary.java
  src/main/java/com/sudo/railo/booking/presentation/ReservationController.java
  src/test/java/com/sudo/railo/booking/application/ReservationServiceTest.java
  src/test/java/com/sudo/railo/support/fixture/MemberFixture.java
  src/test/java/com/sudo/railo/support/fixture/TrainFixture.java
  src/test/java/com/sudo/railo/support/helper/TrainScheduleTestHelper.java
  src/test/java/com/sudo/railo/support/helper/TrainTestHelper.java
  src/test/java/com/sudo/railo/support/repository/TestSeatRepository.java
  src/test/resources/application-test.yml
Labels: ✅ test

#215 [FEATURE] 결제 취소 기능 및 결제 내역 조회 기능 구현
  src/main/java/com/sudo/railo/booking/application/ReservationApplicationService.java
  src/main/java/com/sudo/railo/payment/application/PaymentService.java
  src/main/java/com/sudo/railo/payment/application/dto/projection/PaymentProjection.java
  src/main/java/com/sudo/railo/payment/infrastructure/PaymentRepository.java
  src/main/java/com/sudo/railo/payment/infrastructure/PaymentRepositoryCustom.java
  src/main/java/com/sudo/railo/payment/infrastructure/PaymentRepositoryCustomImpl.java
  src/main/java/com/sudo/railo/payment/presentation/PaymentController.java
Labels: ✨ feature

#222 [TEST] AuthService 테스트 코드 작성
  src/test/java/com/sudo/railo/auth/application/AuthServiceTest.java
  src/test/resources/application-test.yml
Labels: ✅ test

#228 [TEST] 이메일 인증 관련 테스트 코드 작성
  build.gradle
  src/test/java/com/sudo/railo/RailoApplicationTests.java
  src/test/java/com/sudo/railo/auth/application/EmailAuthServiceTest.java
  src/test/java/com/sudo/railo/member/application/MemberFindServiceTest.java
  src/test/java/com/sudo/railo/member/application/MemberUpdateServiceTest.java
  src/test/java/com/sudo/railo/support/MockMailConfig.java
  src/test/resources/application-test.yml
Labels: ✅ test

#223 [TEST] Token 기능 테스트
  build.gradle
  src/main/java/com/sudo/railo/auth/security/jwt/TokenExtractor.java
  src/test/java/com/sudo/railo/auth/security/jwt/TokenExtractorTest.java
  src/test/java/com/sudo/railo/auth/security/jwt/TokenGeneratorTest.java
  src/test/java/com/sudo/railo/auth/security/jwt/TokenValidatorTest.java
Labels: ✅ test

#230 [TEST] Member 서비스 테스트 코드 작성
  src/main/java/com/sudo/railo/member/infrastructure/MemberRepository.java
  src/test/java/com/sudo/railo/member/application/MemberNoGeneratorTest.java
  src/test/java/com/sudo/railo/member/application/MemberServiceTest.java
Labels: ✅ test

#229 [TEST] Reservation 관련 서비스 테스트
  src/test/java/com/sudo/railo/booking/application/ReservationServiceTest.java
  src/test/java/com/sudo/railo/booking/application/SeatReservationServiceTest.java
  src/test/java/com/sudo/railo/booking/application/TicketServiceTest.java
Labels: ✅ test

#237 [BUG] Ticket 도메인 getMyTickets 관련 조회 오류 수정
  src/main/java/com/sudo/railo/booking/application/dto/response/TicketReadResponse.java
Labels: 🔧 fix

#232 [TEST] 운임 계산 서비스 테스트
  src/test/java/com/sudo/railo/booking/application/FareCalculationServiceTest.java
Labels: ✅ test

#233 [TEST] 예약 생성 기능 테스트
  src/main/java/com/sudo/railo/booking/application/ReservationApplicationService.java
  src/main/java/com/sudo/railo/booking/application/ReservationService.java
  src/main/java/com/sudo/railo/booking/application/SeatReservationService.java
  src/main/java/com/sudo/railo/booking/infrastructure/SeatReservationRepository.java
  src/main/java/com/sudo/railo/train/infrastructure/SeatRepository.java
  src/test/java/com/sudo/railo/booking/application/ReservationApplicationServiceTest.java
  src/test/java/com/sudo/railo/booking/application/ReservationConcurrentConflictTest.java
Labels: ✅ test

#238 [TEST] 결제 관련 기능 테스트 코드 작성
  src/test/java/com/sudo/railo/payment/application/PaymentServiceTest.java
  src/test/java/com/sudo/railo/support/fixture/PaymentFixture.java
Labels: ✅ test

#241 [DOCS] README 보충
  README.md
Labels: 📝 docs
